<link rel="stylesheet" href="/css/form.css">

<section>
    <header>
        <a href="/">Voltar</a>
    </header>
    <div class="section-title">
        <h1>About</h1>
    </div>
    <div class="form-to-edit">
        <form method="post" action="/about">
        <div>
            <input type="text" name="title" placeholder="Digite o titulo">
        </div>
        <div>
            <textarea name="text" placeholder="Digite o texto"></textarea>
        </div>
        <input type="submit" value="Atualizar">
    </form>
    </div>
</section>